* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


button {
  display: block;
  width: 200px;
  padding: 10px 20px;
  background-color: transparent;
  margin: 150px auto;
  font-size: 30px;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

button span {
  background-color: #333;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -150%;
  width: 150%;
  padding: 10px 20px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

button:hover span {
  opacity: 1;
}

.bottom span {
  top: auto;
  bottom: -150%
}

button span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  top: 100%;
  border-color: #333 transparent transparent;
}

.bottom span::before {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent black transparent
}